h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 1rem;
    background: rgb(138, 203, 219);
    margin-bottom: 2rem;
}

body {
    background-color: azure;
    max-width: 1000px;
    margin: 0 auto;
}

.menu {
    font-family: Impact, sans-serif;
    font-size: 22px;
    width: 500px;
    margin: 16px auto;
    background-color:beige;
    border: 8px double black;
}

li {
    padding: 1em;
}

img {
    height:auto;
    width: 310;
    padding: 0 345px;
    background: rgb(239, 240, 200);
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

p,
.ingredients,
.steps {
    font-family: 'Times New Roman', sans-serif;
    font-size: medium;
}